code/crawling/kg이니시스.csv
code/crawling/남양유업.csv
data
a.txt
kcc.txt
labeldata.xlsx
계획.txt
셀트리온.txt
씨젠ㄴ.txt
code/crawling/.ipynb_checkpoints/naver_news_crawler_2-checkpoint.ipynb
code/crawling/.ipynb_checkpoints/naver_news_crawler-checkpoint.ipynb
final/마지막으로 돌려본코드.py
docs/
oozie/tmp_insert.py
